@charset "utf-8"; 
/* -S- Tab_01 */
.tab_01{border:1px solid #fff; width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕'; 
            box-sizing: border-box; 
            -o-box-sizing: border-box; 
            -ms-box-sizing: border-box; 
            -moz-box-sizing: border-box; 
            -webkit-box-sizing: border-box;border-radius: 3px;}
.tablist_01{border:1px solid #efefef;  
    overflow: hidden; 
    border-bottom:none; 
    border-radius: 3px 3px 0 0;background:#e2e2e2}
.tablist_01 ul li{float:left;margin-right:1px; border-right:1px solid #fff;}
.tablist_01 ul li a{
    font-weight:bold;
    color:#999; 
    font-size:12px; 
    display:block; 
    padding:0px 20px; 
    height:34px;
    line-height: 34px;}
.tablist_01 ul li a:hover, 
.tablist_01 ul li a:active,
.tablist_01 ul li a.on{
    color:#60a2fb ; 
     background:#fff;
}
.tab_con01{
    border:1px solid #d4d4d4; border-top:none;
    clear:both;
    padding:20px;
    line-height: 140%;
    border-radius: 0 0 3px 3px;
}

/* -S- Tab_02 */
.tab_02{border:1px solid #fff; width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕'; 
            box-sizing: border-box; 
            -o-box-sizing: border-box; 
            -ms-box-sizing: border-box; 
            -moz-box-sizing: border-box; 
            -webkit-box-sizing: border-box;}
.tablist_02{
    overflow: hidden; 
    margin-bottom:-1px;}
.tablist_02 ul li{float:left; margin-right:2px;}
.tablist_02 ul li a{
    font-weight:bold;
    color:#999; 
    font-size:12px; 
    display:block; 
    padding:0px 20px; 
    height:34px;
    line-height: 34px;
    border:1px solid #e2e2e2; border-bottom:none;
}
.tablist_02 ul li a:hover, 
.tablist_02 ul li a:active,
.tablist_02 ul li a.on{
    color:#60a2fb ; 
     background:#fff;
     border:1px solid #333; border-bottom:none
}
.tab_con02{; 
    border:1px solid #333;
    clear:both;
    padding:20px;
    line-height: 140%;
}

/* -S- Tab_03 */
.tab_03{border:1px solid #fff; width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕'; 
            box-sizing: border-box; 
            -o-box-sizing: border-box; 
            -ms-box-sizing: border-box; 
            -moz-box-sizing: border-box; 
            -webkit-box-sizing: border-box;border-radius: 3px;}
.tablist_03{border:1px solid #efefef; 
    overflow: hidden; 
    border-bottom:none; 
    border-radius: 3px 3px 0 0;}
.tablist_03 ul li{float:left;margin-right:1px;}
.tablist_03 ul li a{
    font-weight:bold;
    color:#999; 
    font-size:12px; 
    display:block; 
    padding:0px 20px; 
    height:34px;
    line-height: 34px;
    background:#e2e2e2}
.tablist_03 ul li a:hover, 
.tablist_03 ul li a:active,
.tablist_03 ul li a.on{
    color:#fff ;  
    background:#60a2fb url(../images/structure/bg_tab03.png) no-repeat 50% bottom;
    padding-bottom:3px; 
}
.tab_con03{
    border:1px solid #efefef; border-top:none;
    clear:both;
    padding:20px;
    line-height: 140%;
    border-radius: 0 0 3px 3px;
}

/* -S- Accordion_01 */
.accordion_01{border:1px solid #efefef;  width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕'; box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;}
.accordion_01 dt{border-bottom:1px dashed #d4d4d4;}
.accordion_01 dt a{background:url(../images/structure/acco_down01.png) no-repeat 98% 50%; display:block;  font-weight:bold; padding:12px 20px;font-size:15px; color:#7f7f7f;}
.accordion_01 dt a:hover, .accordion_01 dt a:active,.accordion_01 dt.selected a{background:url(../images/structure/acco_up01.png) no-repeat 98% 50%; color:#60a2fb;}

.accordion_01 dd{
	padding:12px 20px; 
    border-bottom:1px solid #d4d4d4; 
    line-height: 150%;
    height:40px;
    overflow:hidden;
    -webkit-transition: width .4s ease-out, height .2s ease-out;
    -moz-transition: width .4s ease-out, height .2s ease-out;
    -ms-transition: width .4s ease-out, height .2s ease-out;
    -o-transition: width .4s ease-out, height .2s ease-out;
    transition: width .4s ease-out, height .2s ease-out;
}


/* -S- Accordion_02 */
.accordion_02{border:1px solid #efefef;  width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕'; box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;}
.accordion_02 dt{border-bottom:1px solid #d4d4d4;}
.accordion_02 dt a{background:#fafafa url(../images/structure/acco_down02.png) no-repeat 8px 50%;display:block;font-weight:bold; padding:12px 20px;font-size:15px;}
.accordion_02 dt a:hover, .accordion_02 dt a:active,.accordion_02 dt.selected a{background:#60a2fb url(../images/structure/acco_up02.png) no-repeat 8px 50%; color:#fff;}
.accordion_02 dd{padding:12px 20px; border-bottom:1px solid #d4d4d4; line-height: 150%}

/* -S- Accordion_03 */
.accordion_03 dl{
    font-size:0.75em; 
    background:#fff; 
    font-family: '나눔고딕';
    margin-bottom:2px; 
    box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;}
.accordion_03 dl a dt {
    background:#fafafa url(../images/structure/acco_down03.png) no-repeat 98% 50%;
    font-weight:bold; 
    border:1px solid #efefef;  
    border-radius:5px; 
    font-size:15px;
    padding:12px 20px;}
.accordion_03 dl a:hover dt, .accordion_03 dl a:active dt,.accordion_03 dl a.selected dt{
	 border-radius:5px 5px 0 0; 
    background:#60a2fb url(../images/structure/acco_up03.png) no-repeat 98% 50%; 
    color:#fff;
    border:none;}
.accordion_03 dl a dd{ 
    padding:0px 20px;
    border-top:none;
    line-height: 150%; 
    border-radius:0 0 5px 5px; 
    color:#7f7f7f;
    height:0px;
    overflow:hidden;
    -webkit-transition: width .4s ease-out, height .2s ease-out;
        -moz-transition: width .4s ease-out, height .2s ease-out;
        -ms-transition: width .4s ease-out, height .2s ease-out;
        -o-transition: width .4s ease-out, height .2s ease-out;
            transition: width .4s ease-out, height .2s ease-out;    
    }
.accordion_03 dl a:hover dd, .accordion_03 dl a:active dd,.accordion_03 dl a.open dd{
    border:1px solid #60a2fb; 
    border-top:none;
    padding:12px 20px;
    height:40px;
    border-radius:0 0 5px 5px; 
    }

